@use './partials/variables' as *;
@use './partials/reset' as *;
@use './partials/utility' as *;

header {

    background-color: $zala_primary;
    position: fixed;
    color: white;
    width: 100%;
    z-index: 1000;


    .header_contenitor {

        height: 60px;

    }


}

main {}