@use './partials/variables' as *;
@use './partials/reset' as *;
@use './partials/utility' as *;


header {

    background-color: $zala_primary;
    position: fixed;
    color: white;
    width: 100%;
    z-index: 1000;


    .gender>ul>li :hover {
        color: black;
        background-color: rgba(211, 211, 211, 0.509)
    }

    .gender>ul>li>a {
        padding: 0.5rem;
        border-radius: 20%;
    }

    .header_icon>ul>li>a>i {
        padding: 0.3rem;
        border-radius: 20%;
    }

    .header_contenitor {

        height: 60px;

    }


}

main {
    .main_contenitor {
        flex-wrap: wrap;
    }

    .item {

        width: 290px;
        height: 420px;
        position: relative;
        margin-top: 100px;

    }


    .badges {
        position: absolute;
        left: 0;
        bottom: 30px;
        width: 100%;


    }

    .red_square {

        background-color: $zala-accent;
        padding: 0.25rem;
        margin-right: 1rem;
        display: inline-block;
        color: white;
        font-size: 14px;


    }

    .green_square {

        background-color: $zala-sostenibility;
        padding: 0.25rem;
        color: white;
        display: inline-block;
        font-size: 14px;
        margin-right: 0.2rem;
        ;

    }

    .heart_square {
        width: 40px;
        height: 40px;
        background-color: white;
        position: absolute;
        right: 0;
        top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    :hover.heart_square {
        color: $zala-accent;
    }

    .item_description {
        position: absolute;
        top: 100%;

    }



    .discount_price {
        color: $zala-accent;
    }

    .real_price {
        text-decoration: line-through;
    }

    .small {
        font-size: 14px;
    }

    /* item image */

    .second_img {
        display: none;
    }

    .item:hover {
        .first_img {
            display: none;
        }

        .second_img {
            display: block;
        }
    }

    .bottom-left {
        left: 0;
    }
}

footer {


    margin-top: 100px;
    background-color: $zala-dark;


    .footer_contenitor {

        height: 100px;
        color: white;
    }

    .padding-bottom {
        padding-bottom: 5px;
    }


    .info {
        font-size: 12px;
    }
}