@use './variables' as *;

.contenitor {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul {
    display: flex;
    list-style: none;
}

a {
    color: $zala-lighter;
    text-decoration: none;
}

img {
    max-width: 100%;
}